# Flutter/Dart
.dart_tool/
.packages
.pub-cache/
lib/
build/
.flutter-plugins
.flutter-plugins-dependencies
generated_plugin_registrant.dart

# IDE
.idea/
.vscode/

# Android
android/.gradle/
android/local.properties

# macOS
macos/Flutter/ephemeral/

# iOS
ios/Flutter/ephemeral/
ios/Flutter/Generated.xcconfig

# Windows
windows/flutter/ephemeral/

# Linux
linux/flutter/ephemeral/

# Web
web/.dart_tool/

# Misc
*.log
*.lock
